header{
    clear:both;
}

.left{
    float:left;
}

.center{
    
    margin:0 auto;
    text-align:center;
}

.right{
   float:right;
}

footer{
   clear:both;
}

#animateDiv {
    background: #d69cca;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    float: left;
    margin: 20px 0px;
    border-radius: 8px;
    position: relative;
    animation: myAnimateDiv 5s 1;
}

@keyframe myAnimationDiv{
    0%{transform:rotate(0deg);left:0px;}
   25%{transform:rotate(20deg);left:0px;}
   50%{transform:rotate(0deg);left:500px;}
   55%{transform:rotate(0deg);left:500px;}
   70%{transform:rotate(0deg);left:500px;background:#1ec7e6;}
  100%{transform:rotate(-360deg);left:0px;}
}
