header{
    clear:both;
}

.left{
    float:left;
}

.center{
    
    margin:0 auto;
    text-align:center;
}

.right{
   float:right;
}

footer{
   clear:both;
}

#animateDiv {
    width: 60px;
    background: #d69cca;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 10px;
    position: relative;
    animation: myAnimateDiv 5s infinite;
}

@keyframes myAnimateDiv{
    0%{transform: rotate(0deg);left:0px;}
   25%{transform: rotate(20deg);left:100px;}
   30%{transform: rotate(0edg);left:100px;}
   50%{transform: rotate(0deg);left:800px;}
   55%{transform: rotate(0deg);left:800px;}
   70%{transform: rotate(0deg);left:800px;background:#a07cce;}
  100%{transform: rotate(-360deg);left:0px;}
}
