/*
     This is my own CSS file
*/

body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 20px;
}
header {
    background: url(/images/myHeader1.png) repeat-x;
}
#myHeader{
     width: 1015px;
     height: 120px;
     position: relative;
     margin: 0 auto;
     background:url(/images/myHeader4.png)no-repeat
     }

a.sitetitle {
    display: block;
    float: left;
    margin: 45px 20px 0;
    width: 240px;
    height: 60px;
    background: url(/images/ohqin.png)no-repeat
}

#myNav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 750px;
    height: 60px;
    background: rgb(203, 142, 191);
}
.myMenu ul {
float: right;
list-style-type: none;
margin: 0;
padding: 0;
}


.myMenu li {
position: relative;
float: left;
display: block;
height: 60px;
line-height: 60px;
margin-right: 20px;
}
.myMenu img {
     vertical-align: middle;
}
.myMenu ul li a {
    margin-right: 1px;
    padding: 0 10px;
    color: #7b0b14;
}

#mainContent {
     clear:both;
     width:1015px;
     margin: 0 auto;
     padding: 5px 10px 0;
}

.left {
     float:left;
}

.right {
     float: right;
}

#myContent {
     width: 700px;
}

#mySidebar{
     width 300px;
}

.h30 {
     height: 30px;
}

.clear{
     clear: both;
}

footer {
     clear:both;
     background:#fff;
     width: 100%;
}

#myFooter {
     width: 980px;
     margin: 0 auto;
     padding: 40px 10px;
}

.col_4{
     width: 180px;
     float: left;
     margin: 0 30px;
}

.nav_up {
    display: block;
    margin: 0 auto;
    width: 72px;
    height: 37px;
    cursor: pointer;
    background: url(/images/gotop.png);
}
